:root {
  --clr-orange-100: hsl(9, 63%, 53%);
  --clr-blue-100: hsl(190, 63%, 54%);
  --clr-white: hsl(0, 0%, 96%);
  --clr-gray-light: hsl(0, 0%, 73%);
  --clr-gray-dark: hsl(0, 0%, 8%);
  --clr-black: hsl(0, 0%, 4%);
  --ff-primary: "Rubik", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
  --fs-hero: 4.236rem;
  --fs-title: 2.618rem;
  --fs-subtitle: 1.618rem;
  --fs-regular: 1rem;
  --fs-small: 0.618rem;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  color: var(--clr-white);
  background-color: var(--clr-black);
  background-image: url(../images/bg.png);
}

.home-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.home-header {
  padding-top: 1.618rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home-header h1 {
  letter-spacing: -5.618px;
  font-size: var(--fs-hero);
  font-weight: var(--fw-light);
  color: var(--clr-orange-100);
  line-height: 0.8;
  max-width: 438px;
}
.home-header h1 span.white {
  color: var(--clr-gray-light);
  font-size: var(--fs-title);
  letter-spacing: -1.618px;
}
.home-header h1 .line-2 {
  margin-right: 65px;
}
.home-header h1 .line-3 {
  margin-right: 195px;
  margin-top: -2.4rem;
}
.home-header h1 .line-4 {
  margin-right: 195px;
}
.home-header .hero-box {
  display: flex;
  flex-direction: column;
}
.home-header nav {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}
.home-header nav a:link, .home-header nav a:visited {
  color: var(--clr-blue-100);
  text-decoration: none;
  padding: 0 0.5rem;
}
.home-header nav .vl {
  background-color: var(--clr-orange-100);
  opacity: 0.5;
  align-self: center;
  height: 1rem;
  width: 2px;
  margin: 0 0.5rem;
}

.home-main {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.home-main .home-main-content {
  flex-basis: 50%;
  margin-top: 5.236rem;
  display: flex;
  flex-direction: column;
  place-items: flex-end;
}
.home-main .home-main-content p {
  font-size: var(--fs-subtitle);
  color: var(--clr-gray-light);
  padding-bottom: 2.618rem;
  font-weight: 300;
}
.home-main .home-main-content nav {
  align-self: center;
  margin-right: -3rem;
  width: 50%;
}
.home-main .home-main-content nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.36rem;
  transform: skew(-16.618deg, 0deg);
}
.home-main .home-main-content nav ul li {
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 1.618rem;
  background-color: var(--clr-gray-dark);
  cursor: pointer;
  position: relative;
  transition: 0.15s ease-in-out;
}
.home-main .home-main-content nav ul li a:link, .home-main .home-main-content nav ul li a:visited {
  color: var(--clr-blue-100);
  font-size: var(--fs-subtitle);
  text-decoration: none;
  display: block;
  transition: 0.35s ease-in;
}
.home-main .home-main-content nav ul li a:hover {
  color: var(--clr-white);
}
.home-main .home-main-content nav ul li::before {
  content: "";
  position: absolute;
  width: 1.618%;
  height: 100%;
  right: -10.618px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--clr-orange-100);
  transition: all 0.25s ease-in-out;
  z-index: -1;
}
.home-main .home-main-content nav ul li:hover::before {
  right: 206.618px;
  width: 101.618%;
  z-index: -1;
}
.home-main .home-main-image {
  flex-basis: 50%;
  height: 500px;
  background-image: url(../images/home_hero.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -5rem;
  max-width: 516px;
  max-height: 535px;
}

.normal {
  mix-blend-mode: normal;
}

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}

.overlay {
  mix-blend-mode: overlay;
}

.darken {
  mix-blend-mode: darken;
}

.lighten {
  mix-blend-mode: lighten;
}

.color-dodge {
  mix-blend-mode: color-dodge;
}

.color-burn {
  mix-blend-mode: color-burn;
}

.difference {
  mix-blend-mode: difference;
}

.exclusion {
  mix-blend-mode: exclusion;
}

.hue {
  mix-blend-mode: hue;
}

.saturation {
  mix-blend-mode: saturation;
}

.color {
  mix-blend-mode: color;
}

.luminosity {
  mix-blend-mode: luminosity;
}/*# sourceMappingURL=style.css.map */