:root {
  --orange-100: hsl(9 58% 48% / 1);
  --orange-75: hsl(9 58% 48% / .75);
  --orange-50: hsl(9 58% 48% / .5);
  --orange-25: hsl(9 58% 48% / .25);
  --orange-0: hsl(9 58% 48% / 0);
  --blue-100: hsl(190 56% 43% / 1);
  --blue-75: hsl(190 56% 43% / .75);
  --blue-50: hsl(190 56% 43% / .5);
  --blue-25: hsl(190 56% 43% / .25);
  --blue-0: hsl(190 56% 43% / 0);
  --white-100: hsl(0 0% 100% / 1);
  --white-75: hsl(0 0% 100% / .75);
  --white-50: hsl(0 0% 100% / .5);
  --white-25: hsl(0 0% 100% / .25);
  --white-15: hsl(0 0% 100% / .15);
  --white-10: hsl(0 0% 100% / .1);
  --white-0: hsl(0 0% 100% / 0);
  --black-100: hsl(0 0% 0% / 1);
  --black-90: hsl(0 0% 0% / .9);
  --black-75: hsl(0 0% 0% / .75);
  --black-50: hsl(0 0% 0% / .5);
  --black-25: hsl(0 0% 0% / .25);
  --black-10: hsl(0 0% 0% / .1);
  --black-0: hsl(0 0% 0% / 0);
  --bg-dark: #191919;
  --ff-primary: "Rubik", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
  --fs-subtitle:clamp(1.2rem, 1.895168374816984vw, 1.618rem);
  --fs-regular: 1.3rem;
  --fs-text: 1rem;
  --fs-small: 0.8rem;
  --fs--link: 1.2rem;
  --padding: clamp(1.618rem, 3vw, 2.618rem);
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  color: var(--clr-white);
  background-image: url(../images/pattern/pattern.png);
  overflow-x: hidden;
  width: 100%;
  max-width: 1088px;
  min-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue-100) var(--orange-75);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--black-100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orange-75);
  border-radius: 20px;
  border: 3px solid var(--black-100);
}

footer {
  margin-top: 3rem;
}
footer h2, footer p {
  color: transparent;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.hide {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.padding-x {
  padding-inline: 1rem !important;
}

.margin-x {
  margin-inline: 1rem;
}

.float-btn {
  z-index: 9999 !important;
  position: fixed;
  z-index: 8 !important;
  width: 55px;
  height: 50px;
  padding: 0.5rem;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
  top: 25vh;
  top: 25svh;
  left: -5px;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 50% 50% 0;
  animation-name: floatBtnShow;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-fill-mode: forwards;
}
.float-btn svg {
  fill: rgb(37, 211, 102);
}

.float-btn.hide {
  animation-name: floatBtnHide;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .float-btn {
    display: none;
  }
}
@keyframes floatBtnHide {
  0% {
    left: -5px;
    scale: 1;
    opacity: 100%;
  }
  10% {
    left: 0px;
    scale: 1.05;
    opacity: 70%;
  }
  50% {
    left: -50px;
    scale: 0.5;
    opacity: 20%;
  }
  100% {
    left: -100px;
    scale: 0;
    opacity: 0%;
  }
}
@keyframes floatBtnShow {
  0% {
    left: -100px;
    scale: 0;
    opacity: 0%;
  }
  10% {
    left: -50px;
    scale: 0.5;
    opacity: 20%;
  }
  50% {
    left: 0px;
    scale: 1.05;
    opacity: 70%;
  }
  100% {
    left: -5px;
    scale: 1;
    opacity: 100%;
  }
}
.box {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  display: none;
  width: 40px;
  height: 35px;
  position: fixed;
  z-index: 999 !important;
  justify-self: start;
}

@media (max-width: 790px) {
  .box {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
    display: block;
    cursor: pointer;
    position: fixed;
  }
  .burger {
    --burgerH: 4px;
    position: absolute;
    top: 10px;
    background-color: var(--orange-100);
    width: 35px;
    height: var(--burgerH);
    line-height: 0;
    border-radius: 3px;
    transition: all 0.3s linear;
  }
  .burger::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border: calc(var(--burgerH) / 2) solid var(--blue-100);
    border-radius: 3px;
    transition: all 0.3s linear;
    top: 0;
    transform-origin: left top;
    transform: rotate(0deg) translate(0, calc(var(--burgerH) * -2.5));
  }
  .burger::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border: calc(var(--burgerH) / 2) solid var(--blue-100);
    border-radius: 3px;
    transition: all 0.3s linear;
    bottom: 0;
    transform-origin: right top;
    transform: rotate(0deg) translate(0, calc(var(--burgerH) * 2.5));
  }
  .x {
    width: 28px;
    height: 28px;
    position: fixed;
  }
  .x .burger {
    height: 100%;
    top: 0px;
  }
  .x .burger::before {
    transform: translate(0px, 14px) rotate(-45deg);
    transform-origin: center !important;
    border-color: var(--white-75);
  }
  .x .burger::after {
    transform: translate(0px, -14px) rotate(45deg);
    transform-origin: center !important;
    border-color: var(--white-75);
  }
}
nav {
  top: 1.6rem;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
  justify-self: end;
  position: fixed;
  z-index: 99;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-list .nav-item {
  border-left: 2px solid var(--orange-25);
}
.nav-list .nav-item:last-child, .nav-list .nav-item:first-child {
  border-left: none;
}
.nav-list .nav-item .nav-link {
  display: block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  color: var(--blue-100);
  font-size: var(--fs-regular);
  padding-inline: 1rem;
}
.nav-list .nav-item .icons {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 1.2rem;
  -webkit-padding-start: 1.2rem;
          padding-inline-start: 1.2rem;
  -webkit-margin-before: 0.161rem;
          margin-block-start: 0.161rem;
}
.nav-list .nav-item .icons > * {
  flex-basis: 1;
  flex-shrink: 0;
  flex-grow: 0;
}
.nav-list .nav-item .icons svg {
  fill: var(--blue-100);
  display: block;
  width: 100%;
  max-width: 20px;
}
.nav-list .avatar {
  display: none;
}

@media (max-width: 790px) {
  nav {
    z-index: 99 !important;
  }
  .nav-list.list-closed {
    transform: translateX(100%);
    transition: transform 150ms ease-in-out;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--blue-100);
    background-image: url("../images/pattern/pattern-mobile.png");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .nav-list.list-closed .nav-item {
    -webkit-margin-start: 30vw;
            margin-inline-start: 30vw;
    width: 100%;
    max-width: 150px;
    border-left: none;
    border-bottom: 1px solid var(--black-25);
  }
  .nav-list.list-closed .nav-item:first-child {
    border-bottom: none;
    width: 100% !important;
    max-width: 150px;
    -webkit-margin-after: clamp(0.16rem, 8vh, 3.618rem);
            margin-block-end: clamp(0.16rem, 8vh, 3.618rem);
  }
  .nav-list.list-closed .nav-item:nth-child(4), .nav-list.list-closed .nav-item:nth-child(5) {
    border-bottom: none;
  }
  .nav-list.list-closed .nav-item .nav-link {
    display: block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: var(--white-100);
    font-size: var(--fs-regular);
    padding-inline: var(--fs-small);
    padding-block: calc(var(--fs-small));
  }
  .nav-list.list-closed .nav-item .icons {
    margin: 0 auto;
    background-color: var(--black-50);
    border-radius: 1.618rem;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    min-height: 36px;
    max-height: 36px;
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
    -webkit-margin-before: clamp(0.16rem, 8vh, 3.618rem);
            margin-block-start: clamp(0.16rem, 8vh, 3.618rem);
    gap: 0 !important;
  }
  .nav-list.list-closed .nav-item .icons svg {
    fill: var(--white-100);
    display: block;
    width: 100%;
    max-width: 20px;
    max-height: 20px;
    aspect-ratio: 1 !important;
  }
  .nav-list.list-closed .avatar {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .nav-list.list-closed .avatar img {
    border-radius: 50%;
  }
  .nav-list.list-opened {
    position: fixed;
    transform: translateX(30%);
  }
  .nav-list.list-opened .nav-item {
    animation-name: animateIn;
    animation-duration: 250ms;
    animation-delay: calc(var(--animation-order) * 150ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}
/**** Animations ****/
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
  }
}
header {
  top: 1.6rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  justify-self: start;
  position: fixed;
  z-index: 9;
  width: 50%;
}
header .brand {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 790px) {
  header {
    width: 90%;
    top: 0.6rem;
    -webkit-padding-start: 4rem;
            padding-inline-start: 4rem;
  }
  .full-bleed {
    -webkit-padding-before: 1rem !important;
            padding-block-start: 1rem !important;
  }
}
.full-bleed {
  top: 0;
  transition: background-color box-shadow 0.25s ease-in-out;
  --bgheaderColor: rgba(0,0,0, .75);
  --blur: 10px;
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  background-color: var(--bgheaderColor);
  box-shadow: 0 0 0 100vmax var(--bgheaderColor);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
}

.fade-in-img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 43/4;
  background-image: url("../images/slogan/horizontal_logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  opacity: 0;
  transform: translateY(1rem);
  animation-name: fadeIn;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  z-index: 5;
}

.slide-in-img {
  width: 100%;
  aspect-ratio: 300/83;
  background-image: url("../images/slogan/large_409X123.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  opacity: 0;
  transform: translateY(-1rem);
  animation-name: slideIn;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 480px) {
  header {
    top: 1rem;
  }
  .slide-in-img {
    width: 100%;
    aspect-ratio: 36/11;
    background-image: url("../images/slogan/small_324X99.svg");
    background-size: contain;
  }
}
.black-grad {
  display: none !important;
}

@media (max-width: 480px) {
  .black-grad {
    display: block !important;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--bg-dark) 10%, transparent 40%);
    grid-column: 1/-1;
    grid-row: 1/1 !important;
    z-index: -1;
  }
}
.sitebg-video {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
  grid-column: 1/-1;
  grid-row: 1/3;
  max-width: inherit;
  -webkit-mask-image: url(../images/home/brshStroke1.png);
  mask-image: url(../images/home/brshStroke1.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: top center;
  mask-position: top center;
  z-index: -2;
}
.sitebg-video .sitebg-vid {
  height: inherit;
  width: 100vw;
  width: 100svw;
  max-width: inherit;
  min-height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(110%) grayscale(100%) opacity(55%);
}

@media (max-width: 960px) {
  .sitebg-video {
    min-width: 100vw;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .sitebg-vid {
    position: absolute;
  }
}
@media (max-width: 480px) {
  .sitebg-video {
    -webkit-mask-image: none;
    mask-image: none;
    -webkit-margin-before: -2rem !important;
            margin-block-start: -2rem !important;
  }
  .sitebg-vid {
    filter: contrast(110%) grayscale(10%) !important;
    -webkit-mask-image: linear-gradient(to top, transparent 15%, black 70%);
    mask-image: linear-gradient(to top, transparent 15%, black 70%);
  }
}
.home {
  margin: 1rem !important;
  grid-column: 1/-1;
  grid-row: 1/3;
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: end;
  gap: 4rem;
}
.home .home-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.home .home-title h2 {
  color: var(--white-50);
  text-align: center;
}
.home .home-title .vid-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--blue-100);
  border-radius: 5px;
  padding-block: 0.2rem;
  padding-inline: 0.8rem;
}
.home .home-title .vid-link svg {
  width: 30px;
  fill: whitesmoke;
}
.home .home-title .vid-link a:link,
.home .home-title .vid-link a:visited {
  color: var(--white-100);
  text-decoration: none;
}
.home .home-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
  row-gap: 4rem;
}
.home .home-features .home-feature-item {
  background-color: var(--black-75);
  border-radius: 8px;
  padding-inline: 1rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  display: grid;
  grid-template-rows: 50px 35px auto;
  grid-auto-flow: row;
  justify-items: center;
  align-items: stretch;
}
.home .home-features .home-feature-item .icon-wrapper {
  -webkit-margin-before: -2.3rem;
          margin-block-start: -2.3rem;
  position: relative;
  isolation: isolate;
  width: 70px;
  height: 80px;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
}
.home .home-features .home-feature-item .icon-wrapper .icon-img {
  position: absolute;
  max-width: 70px;
  filter: grayscale(60%);
  top: 70%;
  left: 0;
  right: -15px;
  margin: auto;
  transform: translateY(-50%);
}
.home .home-features .home-feature-item .icon-wrapper .icon-img img {
  width: 100%;
  aspect-ratio: 1/1;
}
.home .home-features .home-feature-item .icon-wrapper .icon-circle {
  position: absolute;
  bottom: 0;
  width: inherit;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--blue-100);
  z-index: -1;
}
.home .home-features .home-feature-item h3 {
  align-self: center;
  color: var(--blue-100);
}

@media (max-width: 960px) {
  .home {
    -webkit-margin-before: 60vh !important;
            margin-block-start: 60vh !important;
    -webkit-margin-before: 60svh !important;
            margin-block-start: 60svh !important;
  }
}
@media (max-width: 480px) {
  .home-features {
    justify-self: center;
    max-width: 300px;
    grid-template-columns: none !important;
    gap: 3rem !important;
  }
}
section {
  margin-block: 1.3rem;
}

.quote {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-inline: 1rem;
  padding-block: 1.2rem;
  background-color: rgba(0, 0, 0, 0) !important;
}

blockquote {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
blockquote p {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: 300;
}

cite {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  font-size: 1rem;
  color: var(--orange-100);
  font-weight: 300;
  font-style: italic;
  text-align: center;
  display: block;
}
cite span {
  color: var(--blue-100);
}

@media (min-width: 871px) {
  .quote {
    max-width: 1088px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-inline: 1rem;
    padding-block: 1.2rem;
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
section.about {
  padding-block: 2rem !important;
  margin: 1rem !important;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
section.about .section-main-title {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}
section.about .section-main-title p {
  margin-bottom: 1rem;
}
section.about .section-main-title hr {
  align-self: center;
  width: 50%;
  border: 0;
  border-top: 2px solid var(--orange-75);
  border-radius: 3px;
  margin-bottom: 1.6rem;
}

.text p {
  color: var(--white-50);
  font-size: var(--fs-text);
  font-weight: 300;
}

.about > .content {
  display: grid;
  background-color: rgba(0, 0, 0, 0);
  padding-inline: 2rem;
  gap: 1rem;
}

.card {
  min-width: -moz-fit-content;
  min-width: fit-content;
  justify-self: start;
  display: grid;
  gap: 1rem;
  justify-content: start;
  grid-auto-flow: column;
}
.card .card-img img {
  border-radius: 5px;
}
.card .card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--blue-100);
  font-size: var(--fs-text);
}
.card .card-info .card-info-diploma svg {
  width: 100%;
  max-width: 35px;
  aspect-ratio: 1/1;
  -webkit-padding-after: 0.3rem;
          padding-block-end: 0.3rem;
}
.card .card-info .card-info-diploma .btn-link {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--blue-100);
  border-radius: 5px;
  padding-block: 0.3rem;
  text-align: center;
  transition: all 0.25s ease;
  color: var(--blue-100);
}
.card .card-info .card-info-diploma .btn-link a:link,
.card .card-info .card-info-diploma .btn-link a:visited {
  display: block;
  text-decoration: none;
  color: currentColor;
}
.card .card-info .card-info-diploma .btn-link:hover {
  color: whitesmoke !important;
}
.card .card-info .card-info-diploma :modal {
  margin: auto;
  background-color: transparent;
  max-width: 50ch;
  border: none;
}
.card .card-info .card-info-diploma :modal button {
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
.card .card-info .card-info-diploma :modal::backdrop {
  background: black;
  opacity: 0.9;
}
.card .card-info .card-info-diploma :modal .modal-header {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  display: flex;
}
.card .card-info .card-info-diploma :modal .modal-header #close-modal-1 {
  color: transparent;
  width: 0;
  height: 0;
}
.card .card-info .card-info-diploma :modal .modal-header h2 {
  color: var(--blue-100);
  align-self: center;
  font-size: var(--fs-regular);
}
.card .card-info .card-info-diploma :modal .modal-body picture {
  padding: 1rem;
}
.card .card-info .card-info-diploma :modal .modal-body picture img {
  border: 5px solid var(--blue-100);
  border-radius: 5px;
}
.card .card-info .card-info-diploma :modal .modal-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.card .card-info .card-info-diploma :modal .modal-footer #close-modal {
  background: var(--orange-100);
  padding-inline: 2rem;
  padding-block: 0.5rem;
  font-size: larger;
  color: whitesmoke;
  border-radius: 3px;
}
.card .card-info .card-info-diploma dialog[open] {
  animation: fadein 0.5s forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 540px) {
  .card {
    display: grid;
    grid-template-columns: minmax(125px, 200px) auto;
  }
  .card .card-img img {
    border-radius: 5px;
  }
}
@media (min-width: 780px) {
  .about > .content {
    grid-auto-flow: column;
    align-items: start;
  }
  .text-flex-cols {
    display: flex;
    flex-direction: column;
  }
}
section.gallery {
  width: 94vw;
  max-width: 1050px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-block: 2rem !important;
}
section.gallery .section-main-title {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}
section.gallery .section-main-title p {
  margin-bottom: 1rem;
}
section.gallery .section-main-title hr {
  align-self: center;
  width: 50%;
  border: 0;
  border-top: 2px solid var(--orange-75);
  border-radius: 3px;
  margin-bottom: 1.6rem;
}
section.gallery .gallery-items {
  padding-inline: 2rem !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
  gap: 0.6rem;
}
section.gallery .gallery-items .vid-card video {
  border-radius: 5px !important;
  width: 100%;
}
section.gallery .gallery-items .vid-card video::-webkit-media-controls-volume-slider {
  display: none !important;
}
section.gallery .gallery-items .vid-card video::-webkit-media-controls-mute-button {
  display: none !important;
}

section.contact {
  padding-block: 2rem !important;
  margin: 1rem !important;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  max-width: 95%;
}
section.contact .section-main-title {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}
section.contact .section-main-title p {
  margin-bottom: 1rem;
}
section.contact .section-main-title hr {
  align-self: center;
  width: 50%;
  border: 0;
  border-top: 2px solid var(--orange-75);
  border-radius: 3px;
  margin-bottom: 1.6rem;
}
section.contact .cta {
  -webkit-margin-before: 1.6rem;
          margin-block-start: 1.6rem;
  -webkit-margin-after: 0.6rem;
          margin-block-end: 0.6rem;
  min-height: 80px;
  display: grid;
  grid-template-columns: repeat(4, minmax(15px, 15px)) auto;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  isolation: isolate;
}
section.contact .cta svg.cta-svg {
  grid-column: 1/span 4;
  grid-row: 1/-1;
  width: 35px;
  max-height: 35px;
  fill: rgb(37, 211, 102);
  z-index: 3;
}
section.contact .cta .cta-white-circle {
  grid-column: 1/span 4;
  grid-row: 1/-1;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: whitesmoke;
  border-radius: 50%;
  z-index: 2;
}
section.contact .cta span.cta-btn {
  grid-column: 1/span 4;
  grid-row: 1/-1;
  align-self: end;
  -webkit-margin-after: 1.15rem;
          margin-block-end: 1.15rem;
  color: var(--blue-100);
  text-align: left;
  font-weight: 600;
  background-color: whitesmoke;
  padding-inline: 0.6rem;
  padding-block: 0.2rem;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
section.contact .cta span.cta-btn a:visited, section.contact .cta span.cta-btn a:link {
  color: var(--blue-100);
  text-decoration: none;
}
section.contact .cta span.cta-title {
  grid-column: 1/span 4;
  grid-row: 1/-1;
  align-self: start;
  color: var(--blue-100);
  white-space: nowrap !important;
}
section.contact .cta p.cta-text {
  color: var(--blue-100);
  align-self: self-start;
}
section.contact .cta p.cta-text span.activity {
  display: block;
  padding-bottom: 0.5rem;
}
section.contact .cta p.cta-text span.days {
  font-size: 14px;
}
section.contact .cta p.cta-text span.hours {
  font-size: 12px;
}

.contact > .content {
  padding-inline: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: start;
}

.contact > .content > .text > * {
  color: var(--white-50);
  font-size: var(--fs-text);
  font-weight: 300;
}

.contact-social-icons {
  -webkit-margin-before: 1.6rem;
          margin-block-start: 1.6rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}
.contact-social-icons span {
  font-size: smaller;
}
.contact-social-icons span.social-icons-follow {
  color: var(--blue-100);
  font-size: 1rem;
  white-space: nowrap;
}
.contact-social-icons a:link, .contact-social-icons a:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: currentColor;
}
.contact-social-icons .fb-icon {
  fill: #1877F2;
}

.map img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 960px) {
  .contact > .content {
    grid-template-columns: max-content 1fr;
  }
  .contact > .content .map img {
    aspect-ratio: 9/16;
    max-width: 280px;
  }
}
@media (max-width: 650px) {
  .contact > .content {
    grid-template-columns: none;
    grid-auto-flow: row !important;
  }
  .contact > .content .map img {
    min-width: 100%;
    aspect-ratio: 16/9;
  }
}
@media (max-width: 360px) {
  .contact-social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: space-between !important;
  }
}
@media (max-width: 790px) {
  body {
    -webkit-padding-before: 1rem;
            padding-block-start: 1rem;
  }
}
.normal {
  mix-blend-mode: normal;
}

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}

.overlay {
  mix-blend-mode: overlay;
}

.darken {
  mix-blend-mode: darken;
}

.lighten {
  mix-blend-mode: lighten;
}

.color-dodge {
  mix-blend-mode: color-dodge;
}

.color-burn {
  mix-blend-mode: color-burn;
}

.difference {
  mix-blend-mode: difference;
}

.exclusion {
  mix-blend-mode: exclusion;
}

.hue {
  mix-blend-mode: hue;
}

.saturation {
  mix-blend-mode: saturation;
}

.color {
  mix-blend-mode: color;
}

.luminosity {
  mix-blend-mode: luminosity;
}