
.about{
    @include section-mobile;

    .section-main-title{

        @include section-title;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
        
        p{
            margin-bottom: 1rem;
        }
    
        hr{
            align-self: center;
            width: 50%;
            border: 0;
            border-top: 2px solid var(--orange-75);
            border-radius: 3px;
            margin-bottom: 1.6rem;
        }
    }
}