
.about{
    @include section-mobile;

    .section-main-title{

        @include section-title;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
        
        p{
            margin-bottom: 1rem;
        }
    
        hr{
            align-self: center;
            width: 50%;
            border: 0;
            border-top: 2px solid var(--orange-75);
            border-radius: 3px;
            margin-bottom: 1.6rem;
        }
    }
}

.text p {
    color: var(--white-50);
    font-size: var(--fs-text);
    font-weight: 300;
}

.about > .content{
    background-color: rgba(0, 0, 0, 0);
    padding-block: 0;
    justify-items: center;
    align-items: flex-end;
    gap: 1rem;

    // & img{
    //     max-width: 220px;
    // }

}


.card_about{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-inline: 1rem;
    padding-block: 1.2rem;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%; 
}

.img-about{
    border-radius: 5px;
}
.details-about{
    color: var(--white-50);
    font-size: var(--fs-text);
    font-weight: 300;
    align-self: flex-end;
}
