
.box{
    padding-inline-start: 1rem;
    padding-block-start: 2rem;
    
    
    display: none;
    width: 40px;
    height: 35px;
    position: fixed;
    z-index: 999 !important;
    justify-self: start;
}


@media (max-width: 790px){

    .box{
        padding-inline-start: 1rem;
        display: block;
        cursor: pointer;
        position: fixed;
    }
        
    .burger{
        --burgerH: 4px;
        position: absolute;
        top: 10px;
        background-color: var(--orange-100);
        width: 35px;
        height: var(--burgerH);
        line-height: 0;
        border-radius: 3px;
        transition: all 0.3s linear;

        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border: calc(var(--burgerH)/2) solid var(--blue-100);
            border-radius: 3px;
            transition: all 0.3s linear;
            
            top: 0;
            transform-origin: center;
            transform: rotate(0deg) translate(0, calc(var(--burgerH)*-2.5));
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border: calc(var(--burgerH)/2) solid var(--blue-100);
            border-radius: 3px;
            transition: all 0.3s linear;
            
            bottom: 0;
            transform-origin: center;
            transform: rotate(0deg) translate(0, calc(var(--burgerH)*2.5));
        }
    }

    .x {
        width: 20px;
        height: 20px;
        position: fixed;

        
        .burger{
            width: 30px;
            height: 100%;
            background-color: transparent;
            
            top: 0px;
            &::before{
                transform: translate(0px, 14px) rotate(-45deg);
                transform-origin: center !important;
                border-color: var(--white-75);
            }
            &::after{
                transform: translate(0px, -14px) rotate(45deg);
                transform-origin: center !important;
                border-color: var(--white-75);
            }
        }

    }

}