section.contact{
        padding-block: 2rem !important;
        margin: 1rem !important;
        background-color: rgba(0,0,0,.25);
        border-radius: 8px;
        width: 100%;
        max-width: 95%;

    .section-main-title{

        @include section-title;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
        
        p{
            margin-bottom: 1rem;
        }
    
        hr{
            align-self: center;
            width: 50%;
            border: 0;
            border-top: 2px solid var(--orange-75);
            border-radius: 3px;
            margin-bottom: 1.6rem;
        }
    }

    .cta{
        isolation: isolate;
        // max-width: 200px;
        display: grid;
        grid-template-columns: 50px max-content 1fr;
        align-items: center;
        column-gap: .5rem;
        ;
        span.talk{
            grid-column: 1 / span 2;
            grid-row: 1 / 1;

            color: var(--blue-100);
            font-weight: bolder;
            background-color: var(--white-100);
            padding-inline-start: 2.6rem;
            padding-inline-end: .5rem;
            padding-block: .2rem;
            border-radius: 10px;
            margin-inline-start: .5rem;
            z-index: -1; 
        }
        span.talk2{
            color: var(--white-100);
            font-size: bigger;
        }
        svg{
            grid-column: 1 / span 2;
            grid-row: 1 / 1;

            fill: rgb(37,211,102);
            width: 45px;
            aspect-ratio: 1;
            z-index: 1;
        }
        p{
            grid-column: 3 / 4;
            grid-row: 2 / 2;
            color: var(--blue-100);
            // color: rgb(37,211,102);
            span.hours{
                font-size: smaller;
            }
        }
    }
}

.contact > .content {
    padding-inline: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: start;
}


.contact > .content > .text > *{
    color: var(--white-50);
    font-size: var(--fs-text);
    font-weight: 300;
}

.text ul li{
    list-style: none;
}



.map img{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}




@media (max-width: 960px){

    .contact > .content {
        grid-template-columns: max-content 1fr;
        .map{
            img{
                aspect-ratio:  9 / 16;
                max-width: 280px;
            }
        }
    }
    
}

@media (max-width: 650px){

    .contact > .content {
        grid-template-columns: none;
        grid-auto-flow: row !important;
        .map{
            img{
                min-width: 100%;
                aspect-ratio:  16 / 9;
                
            }
        }
    }

}