section.contact{
        padding-block: 2rem !important;
        margin: 1rem !important;
        background-color: rgba(0,0,0,.25);
        border-radius: 8px;
        width: 100%;
        max-width: 95%;

    .section-main-title{

        @include section-title;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
        
        p{
            margin-bottom: 1rem;
        }
    
        hr{
            align-self: center;
            width: 50%;
            border: 0;
            border-top: 2px solid var(--orange-75);
            border-radius: 3px;
            margin-bottom: 1.6rem;
        }
    }

    .cta{
        display: grid;
        grid-template-columns: repeat(5, max-content);
        align-items: center;
        column-gap: 1rem;
        isolation: isolate;

        svg.cta-svg{
            grid-column: 1 / span 4;
            grid-row: 1 / -1;
            
            margin-block-end: -2rem;
            
            width: 35px;
            max-height: 35px;
            fill: rgb(37, 211, 102);
            z-index: 3;
        }
        
        .cta-white-circle{
            grid-column: 1 / span 4;
            grid-row: 1 / -1;
            
            margin-block-end: -2rem;

            width: 30px;
            aspect-ratio: 1;
            background-color: whitesmoke;
            border-radius: 50%;
            z-index: 2;
        }
        
        span.cta-btn{
            grid-column: 1 / span 4;
            grid-row: 1 / -1;
            align-self: end;

            color: var(--blue-100);
            text-align: left;
            font-weight: 600;
            background-color: whitesmoke;
            padding-inline: .6rem;
            padding-block: .2rem;
            border-radius: 10px;
            cursor: pointer;
            z-index: 1;
            
        }
        
        span.cta-title{
            grid-column: 1 / span 4;
            grid-row: 1 / -1;
            align-self: start;

            color: var(--blue-100);
            font-size: bigger;
        }
       
        p.cta-text{
            color: var(--blue-100);
            // color: rgb(37,211,102);
            span.hours{
                font-size: smaller;
            }
        }
    }
}

.contact > .content {
    padding-inline: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: start;
}


.contact > .content > .text > *{
    color: var(--white-50);
    font-size: var(--fs-text);
    font-weight: 300;
}

.text ul li{
    list-style: none;
}



.map img{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}




@media (max-width: 960px){

    .contact > .content {
        grid-template-columns: max-content 1fr;
        .map{
            img{
                aspect-ratio:  9 / 16;
                max-width: 280px;
            }
        }
    }
    
}

@media (max-width: 650px){

    .contact > .content {
        grid-template-columns: none;
        grid-auto-flow: row !important;
        .map{
            img{
                min-width: 100%;
                aspect-ratio:  16 / 9;
                
            }
        }
    }

}