.footer{
  width: 95%;
  padding: 1rem;
  color: var(--white-25) !important;
  margin-block-start: 3rem;
  font-size: var(--fs-small);
  text-align: center;
}
@media (max-width: 630px ){
  .footer{
    margin-block-start: .5rem;

  }
}