.footer{
  width: 95%;
  padding: 1rem;
  //background-color: var(--black-50) !important;
  color: var(--white-25) !important;
  margin-top: 3rem;
  font-size: var(--fs-small);
  text-align: center;
}
