section.gallery{
    width: 94vw;
    max-width: 1050px;
    background-color: rgba(0 0 0 / .25);
    border-radius: 8px;
    padding-block: 2rem !important;
    // margin: 1rem !important;


    .section-main-title{

        @include section-title;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
        
        p{
            margin-bottom: 1rem;
        }
    
        hr{
            align-self: center;
            width: 50%;
            border: 0;
            border-top: 2px solid var(--orange-75);
            border-radius: 3px;
            margin-bottom: 1.6rem;
        }
    }

    .gallery-items{
        padding-inline: 2rem !important;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr)); 
        gap: 0.6rem; 

        .vid-card {
            video {
                border-radius: 5px !important;
                width: 100%;
                //aspect-ratio: 9/16 !important;
            }
            
            video::-webkit-media-controls-volume-slider {
                display: none !important;
            }

            video::-webkit-media-controls-mute-button {
                display: none !important;
            }
           
        }
    }

    
}
