



.gallery{
    @include section-mobile;


    .section-main-title{

        @include section-title;
        display: flex;
        flex-direction: column;
        max-width: max-content;
        margin: auto;
        
        p{
            margin-bottom: 1rem;
        }
    
        hr{
            align-self: center;
            width: 50%;
            border: 0;
            border-top: 2px solid var(--orange-75);
            border-radius: 3px;
            margin-bottom: 1.6rem;
        }
    }

    .gallery-items{
        width: inherit;
        //padding: 1.2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(130px, 100%), 1fr)); 
        gap: 0.6rem; 

        .vid-card {
            video {
                border-radius: 5px !important;
                width: 100%;
                //aspect-ratio: 9/16 !important;
            }
            
            video::-webkit-media-controls-volume-slider {
                display: none !important;
            }

            video::-webkit-media-controls-mute-button {
                display: none !important;
            }
           
        }
    }

    
}
