header{
    top: 1.6rem;
    padding-inline-start: 1rem;
    justify-self: start;
    position: fixed;
    z-index: 9;
    width: 50%;

    // max-width: inherit;
    // min-width: inherit;
    //padding-inline: inherit;
    // padding-block-start: inherit;

    .brand{
        width: 100%;
        max-width: 500px;
    }


}

@media (max-width: 790px){

    header{
        width: 90%;
        top: .6rem;
        padding-inline-start: 4rem;
 
    }

    .full-bleed{
        padding-block-start: 1rem !important;  
    }
    

}



.full-bleed{

    top: 0;

    transition: background-color box-shadow .25s ease-in-out; 

    --bgheaderColor: rgba(0,0,0, .75);
    --blur: 10px;

    padding-block-start: 2rem;
    padding-block-end: 1rem;
    

    background-color: var(--bgheaderColor);
    box-shadow: 0 0 0 100vmax var(--bgheaderColor);

    clip-path: inset(0 -100vmax);

    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));


}

.fade-in-img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 43 / 4;
    background-image: url('../images/slogan/horizontal_logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;

    opacity: 0;
    transform: translateY(1rem);

    animation-name: fadeIn;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
    z-index: 5;
}

.slide-in-img{
    width: 100%;
    aspect-ratio: 300 / 83;
    background-image: url('../images/slogan/large_409X123.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;

    opacity: 0;
    transform: translateY(-1rem);

    animation-name: slideIn;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
    
}


@keyframes fadeIn {
  0% { opacity: 0;  transform: translateY(1rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateY(-1rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@media (max-width: 480px){
    .slide-in-img{
        width: 100%;
        aspect-ratio: 36 / 11;
        background-image: url('../images/slogan/small_324X99.svg'); 
        background-size: contain;  
    }

    // .fade-in-img{
    //     background-size: contain;
    // }


}