header{
    // padding-block-start: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99 !important;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;

    max-width: inherit;
    min-width: inherit;
    padding-inline: inherit;
    padding-block-start: inherit;

    .grad {
        grid-column: 1;
        grid-row: 1 / -1;
        z-index: -1;
        background-image: 
        linear-gradient(rgba(25 25 25 / 1),rgba(25 25 25 / .8), transparent 90%);
        width: 100%;
        height: 35vh;
        position: fixed;
        inset: 0;
    }


}

@media (max-width: 871px){

    header{
       
        grid-template-columns: minmax(min-content, 50px) 1fr;
        > .brand {
        grid-column: 2 / 2 ;
        grid-row: 1 / -1;
        max-width: 409px;
        }
        > .box {
        grid-column: 1 / 1 ;
        grid-row: 1 / -1;
        }

    }

}



.full-bleed{

    transition: background-color box-shadow .15s ease; 

    --bgheaderColor: rgba(36, 36, 36, 0.9);
    --blur: 10px;

    // padding-block-end: .618rem;

    background-color: var(--bgheaderColor);
    box-shadow: 0 0 0 100vmax var(--bgheaderColor);

    clip-path: inset(0 -100vmax);

    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));


}

.fade-in-img{
    opacity: 0;
    transform: translateY(1rem);

    animation-name: fadeIn;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
}

.slide-in-img{
    opacity: 0;
    transform: translateY(-1rem);

    animation-name: slideIn;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
    
}


@keyframes fadeIn {
  0% { opacity: 0;  transform: translateY(1rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateY(-1rem); }
  100% { opacity: 1; transform: translateY(0); }
}

