.home-header{
    overflow-x: hidden;
    background-color: rgb(255 255 255 /.1);
    display: flex;
    //flex-wrap: wrap-reverse;
    align-items: flex-start;
    
    &--slogan{
        width: 100%;
        max-width: 500px;
        border: 1px solid yellow;
        img{
            min-width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
    &--menu{
        margin-right: auto;
        border: 1px solid yellow;
    }
}

// @media (min-width: 620px) {
//     .home-header-slogan{
//         width: 100%;
//         max-width: 500px;
//         border: 1px solid magenta !important;
//     }
// }
