.home-header{
    overflow-x: hidden;
    background-color: rgb(255 255 255 /.1);
    display: flex;
    //flex-wrap: wrap;
    align-items: flex-start;
    
    &--slogan{
        border: 1px solid yellow;
        width: 100%;
        max-width: 300px;
    }
    &--menu{
        width: fit-content;
        margin-right: auto;
        border: 1px solid yellow;
    }
}






// @media (min-width: 620px) {
//     .home-header-slogan{
//         width: 100%;
//         max-width: 500px;
//         border: 1px solid magenta !important;
//     }
// }
