.home-header{

    display: flex;
    //flex-wrap: wrap-reverse;
    justify-content: space-between;

    & > * {
        flex: 0 1 100%;
    }
    
    
    &--slogan{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    &--menu{
        padding-right: 1rem;
        padding-left: 1rem;
    }

}







// @media (min-width: 620px) {
//     .home-header-slogan{
//         width: 100%;
//         max-width: 500px;
//         border: 1px solid magenta !important;
//     }
// }
