.home-header{
    overflow-x: hidden;
    background-color: rgb(255 255 255 /.1);
    display: flex;
    //flex-wrap: wrap;
    align-items: flex-start;
    
    &--slogan{
        border: 1px solid yellow;
        flex: 1 0 auto; 
    }
    &--menu{
        width: fit-content;
        margin-right: auto;
        border: 1px solid yellow;
    }
}

.slogan-grid{
    display: grid;
    grid-template-columns: max-content max-content 1fr 1fr;
    grid-template-rows: repeat(5, 3rem);
    overflow: hidden;
    align-items: center;

    &--item1{
        grid-column: 1;
        grid-row: 1 / 3;
        align-self: center;
        //background-color: salmon;
    }
    &--item2{
        grid-column: 1;
        grid-row: 2;
        justify-self: end;
        //background-color: tomato;
    }
    &--item3{
        grid-column: 2;
        grid-row: 2 / 3;
        align-self: end;
        //background-color: lightblue;
    }
    &--item4{
        grid-column: 3;
        grid-row: 1 / 3;
        align-self: end;
        //background-color: cornflowerblue;
    }
    &--item5{
        grid-column: 3;
        grid-row: 2 / 4;
        align-self: center;
        //background-color: lightgreen;
    }

}


.slogan-word{
    letter-spacing: -2px;
    font-weight: var(--fw-light);
    color: var(--clr-gray-medium);
    
    &--1{
        font-size: var(--fs-title);
    }
    &--2{
        font-size: var(--fs-subtitle);
    }
    &--3{
        font-size: var(--fs-hero);
        color: var(--clr-orange-100);
    }
    &--4{
        font-size: var(--fs-hero);
        color: var(--clr-blue-100);
    }
    &--5{
        font-size: var(--fs-title);
    }
}

// @media (min-width: 620px) {
//     .home-header-slogan{
//         width: 100%;
//         max-width: 500px;
//         border: 1px solid magenta !important;
//     }
// }
