
.showcase {
    position: absolute;
    inset: 0;
    z-index: -1; 
    height: 100%;
    width: 100%;

    video {
        position: absolute;
        inset: 0;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        opacity: .2;
    }  
}
