
.home{
    display: grid;
    grid-template-rows: min-content;
    align-content: end;
    // background-color: hotpink;
    // height: 110%;
    
}


.showcase {
    position: absolute;
    inset: 0;
    z-index: -1; 
    min-height: 100%;
    min-width: 100%;
    
    video {
        position: absolute;
        inset: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        filter: contrast(110%) grayscale(10%);
        mask-image: linear-gradient(transparent 10%, black,rgba(25, 25, 25, .25), transparent);  
    } 

     
}

.content{
    
    max-width: 600px;
    background-color: rgba(0 0 0 / .15);
    border-radius: 8px;
    padding-inline: 1rem;
    padding-block: 1.2rem;
    display: grid;
    justify-items: center;
    align-items:flex-end;
    gap: 1rem;
    h2{
        text-align: center;
        color: rgba(255 255 255 / .4);
        font-weight: 300;

    }

    .accordion{
        z-index: 0 !important;
        max-width: 400px;
        width: 100%;
        //background: rgba(0 0 0 / .25);
        background-color: var(--blue-75);
        border-radius: 5px;
        overflow: hidden;

        &__input{
            display: none;
        }
        
        &__content{
            background-color: whitesmoke;
            line-height: 1.2;
            transition: max-height .25s ease, opacity .35s ease;
            opacity: 0;
            max-height: 0;
        }
        &__label{
            padding: 14px 20px;
            color: white;
            display: block;
            cursor: pointer;
            position: relative;
            transition: background .15s;
            &:hover{
                background: rgba(0 0 0 / .5);
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                width: 20px;
                height: 10px;
                border-radius: 3px;
                background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
                background-size: contain;
                transition: transform .4s;
            }
        }

        &__input:checked ~ .accordion__content{
            padding: 14px 20px;
            height: max-content;
            max-height: 200px;
            opacity: 1;
        }

        &__input:checked ~ .accordion__label::after{
            transform: translateY(-50%) rotate(0.5turn);
        }
    }
}
