.home{ 
    margin: 1rem !important;
    grid-column: 1 / -1;
    grid-row: 1 / 3;

    justify-self: center;

    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    gap: 4rem;

    .home-title{
            
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
        h2{
            color: var(--white-50);
            text-align: center;
        }
        .vid-link{
            display: flex;
            align-items: center;
            gap: .5rem;
            
            background-color: var(--blue-100);
            border-radius: 5px;
            padding-block: 0.2rem;
            padding-inline: 0.8rem;
            
            svg{
                width: 30px;
                fill: whitesmoke;
            }

            a:link,
            a:visited{
                color: var(--white-100);
                text-decoration: none;
            }
        
        }
    }

    .home-features{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.6rem;
        row-gap: 4rem;
        
        .home-feature-item{
            background-color: var(--black-75);
            border-radius: 8px;
            padding-inline: 1rem;
            padding-block-end: 1rem;
            padding-block-start: 0;
            
            display: grid;
            grid-template-rows: 50px 35px auto;
            grid-auto-flow: row;
            justify-items: center;
            align-items: stretch;
            
            .icon-wrapper{
                margin-block-start: -2.3rem;
                
                position: relative;
                isolation: isolate;
                width: 70px;
                height: 80px;
                border-radius: 0 0 100vw 100vw;
                overflow: hidden;
                //background-color: #fff;
                
                .icon-img {
                    position: absolute;
                    max-width: 70px;
                    filter: grayscale(60%);
                    top: 70%;
                    left: 0;
                    right: -15px;
                    margin: auto;
                    transform: translateY(-50%);
                    
                    img{
                        width: 100%;
                        aspect-ratio: 1 / 1;
                    }
                }
                
                .icon-circle{
                    position: absolute;
                    bottom: 0;
                    width: inherit;
                    aspect-ratio: 1 / 1;
                    
                    border-radius: 50%;
                    background-color: var(--blue-100);
                    z-index: -1;
                }
            }
            
            h3{
                align-self: center;
                color: var(--blue-100);
            }
        } 
    }


}

@media (max-width: 650px){

    .home{
        margin-block-start: 55vh !important;
    }

}

@media (max-width: 480px){
    // .home{
    //     gap: 5rem;
    // }

    .home-features{
        justify-self: center;
        max-width: 300px;
        grid-template-columns: none !important;
        
        gap: 3rem !important;

    }

}


