main{
    display: grid;
    grid-template-columns: minmax(340px, 50%) 1fr;
    
}

.content{

    justify-self: end;
    margin-block-start: 3rem;
    

    color: var(--white-75);
    font-size: var(--fs-subtitle);     
    font-weight: var(--fw-light); 
    width: 100%;

    h2{
        color: rgb(130,130,130);
        text-align: left;
    }


    .cards{
        margin: auto;
        margin-block-start: 3rem;
        transform: skewX(-15deg);
        display: flex;
        flex-direction: column;
        gap: .6rem;
        max-width: 50%;

        
        
        .card {
            
            background-color: rgba(255, 255, 255, 0.093);
            p{
                text-align: center;
                padding-block: .6rem;
            }
        }
    }

}

.image{
    justify-self: end;
    object-fit: cover;
    margin-block-start: -50px; 
    max-width: 445px;
}

@media (max-width: 639px){

    main{
        grid-template-columns: 1fr;
    }

    .content{
        width: 100%;
        justify-self: start;
        font-weight: var(--fw-light); 
         .cards{
           
            margin-block-start: 1.6rem !important;

         }
    }

    .image{
        display: none;
    }
}