.nav-list{
    //z-index: 2;
    list-style: none;
    display: flex;
    
    flex-direction: row;
    justify-content: flex-end;

    .nav-item{
        border-left: 2px solid var(--orange-25);
        &:last-child, &:first-child{
            border-left: none;
        }
        .nav-link{
            display: block;
            text-decoration: none;
            text-align: center;
            white-space: nowrap;
            color: var(--blue-100);
            font-size: calc( var(--fs-subtitle)/1.2 );
            padding-inline: 1rem;
        }

        .icons{
            width: fit-content;
            display: flex;
            // flex-wrap: wrap;
            flex-direction: row;
            place-items: center;
            gap: 1.2rem; 
            padding-inline: 1.2rem;
            margin-block-start: 0.161rem;  

            > * {
                flex-basis: 1;
                flex-shrink: 0;
                flex-grow: 0;  
            }
            svg{
                fill: var(--blue-100);
                display: block;
                width: 100%;
                max-width: 20px;
            }
        }
    }
}




@media (max-width: 870px){
    nav, .x{
        z-index: 2;
    }

    .box{
        width: 40px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }

    .burger{
        --burgerH: 4px;
        position: absolute;
        top: 10px;
        background-color: var(--orange-100);
        width: 35px;
        height: var(--burgerH);
        line-height: 0;
        border-radius: 3px;
        transition: all 0.3s linear;

        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border: calc(var(--burgerH)/2) solid var(--blue-100);
            border-radius: 3px;
            transition: all 0.3s linear;
            
            top: 0;
            transform-origin: left top;
            transform: rotate(0deg) translate(0, calc(var(--burgerH)*-2.5));
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border: calc(var(--burgerH)/2) solid var(--blue-100);
            border-radius: 3px;
            transition: all 0.3s linear;
            
            bottom: 0;
            transform-origin: right top;
            transform: rotate(0deg) translate(0, calc(var(--burgerH)*2.5));
        }

    }

    .x {
        width: 28px;
        height: 28px;

        
        .burger{
            width: 100%;
            height: 100%;
            //background-color: var(--orange-0);
            top: 0px;
            &::before{
                transform: translate(0px, 12px) rotate(-45deg);
                transform-origin: center !important;
                border-color: var(--white-75);
            }
            &::after{
                transform: translate(0px, -12px) rotate(45deg);
                transform-origin: center !important;
                border-color: var(--white-75);
            }
        }

    }

    .nav-list.list-closed{
        
        transform: translateX(100%);
        transition: transform 150ms ease-in-out;

        list-style: none;
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: var(--blue-100);
        background-image: url('../images/pattern/pattern-mobile.png');
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        .nav-item{
            margin-inline-start: 30vw;
            width: 100%;
            max-width: 150px;
            border-left: none;
            border-bottom: 1px solid var(--black-25);

            &:first-child{
                border-bottom: none;
                width: 100% !important;
                max-width: 150px;
                margin-block-end: clamp(0.16rem, 8vh, 3.618rem);
            }
            
            &:nth-child(4), &:nth-child(5){
                border-bottom: none;
            }

            .nav-link{
                display: block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                color: var(--white-100);
                font-size: calc( var(--fs-subtitle)/1.2 );
                padding-inline: var(--fs-small);
                padding-block: calc( var(--fs-small) );
            }
            .icons{
                margin:  0 auto;
                background-color: var(--black-10);
                border-radius: 1.618rem;
    
                justify-content: space-around;
                
                width: 90%;
                height: 100%;
                min-height: 36px;
                max-height: 36px;
                padding-inline-start: 0;
               // padding: 1rem;
                margin-block-start: clamp(0.16rem, 8vh, 3.618rem);
                


                svg{
                    fill: var(--white-100);
                    display: block;
                    width: 100%;
                    max-width: 20px;
                    max-height: 20px;
                    aspect-ratio: 1 !important;
                }
            }
            
        }

        .avatar{
            justify-self: flex-start !important;
            width: 100%;
            height: 100%;
            max-height: 100px;
            min-height: 100px;
            background-image: url(../images/nav/profile_pic100X100.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 50% 0%;
        }
    }


    .nav-list.list-opened{
        transform: translateX(30%);

        .nav-item{
            animation-name: animateIn;
            animation-duration: 250ms;
            animation-delay: calc(var(--animation-order) * 150ms);
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
        

    }

}




/**** Animations ****/
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  
  100% {
    opacity: 1;
  }
}
