.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .nav-item{
        border-left: 2px solid var(--orange-25);
        &:last-child, &:first-child{
            border-left: none;
        }
        .nav-link{
            display: block;
            text-decoration: none;
            text-align: center;
            white-space: nowrap;
            color: var(--blue-100);
            font-size: calc( var(--fs-subtitle)/1.2 );
            padding-inline: var(--fs-small);
        }

        .icons{
            width: fit-content;
            display: flex;
            flex-direction: row;
            place-items: center;
            gap: 0.618rem; 
            padding-inline: var(--fs-small);
            margin-block-start: 0.161rem;  

            > * {
                flex-basis: 1;
                flex-shrink: 0;
                flex-grow: 0;  
            }
            svg{
                fill: var(--orange-100);
                display: block;
                width: 100%;
                max-width: 20px;
            }
        }
    }
}



/** 768px and below **/
@media (max-width: 48em){

    .box{
        width: 40px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }

    .burger{
        --burgerH: 4px;
        position: absolute;
        top: 10px;
        background-color: var(--orange-100);
        width: 35px;
        height: var(--burgerH);
        line-height: 0;
        border-radius: 3px;
        transition: all 0.3s linear;

        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border: calc(var(--burgerH)/2) solid var(--blue-100);
            border-radius: 3px;
            transition: all 0.3s linear;
            
            top: 0;
            transform-origin: left top;
            transform: rotate(0deg) translate(0, calc(var(--burgerH)*-2.5));
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border: calc(var(--burgerH)/2) solid var(--blue-100);
            border-radius: 3px;
            transition: all 0.3s linear;
            
            bottom: 0;
            transform-origin: right top;
            transform: rotate(0deg) translate(0, calc(var(--burgerH)*2.5));
        }

    }

    .x {
        width: 28px;
        height: 28px;

        
        .burger{
            width: 100%;
            height: 100%;
            //background-color: var(--orange-0);
            top: 0px;
            &::before{
                transform: translate(0px, 12px) rotate(-45deg);
                transform-origin: center !important;
                border-color: var(--white-75);
            }
            &::after{
                transform: translate(0px, -12px) rotate(45deg);
                transform-origin: center !important;
                border-color: var(--white-75);
            }
        }

    }

    .nav-list.list-closed{
        
        transform: translateX(100%);
        transition: transform ease-in-out;
        animation-name: animateListClose;
        animation-duration: 250ms;

        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        background-color: var(--blue-100);
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        .nav-item{
            margin-inline-start: 30vw;
            width: 100%;
            max-width: 200px;
            border-left: none;
            border-bottom: 1px solid var(--black-25);
            &:last-child, &:first-child{
                border-bottom: none;
            }
            &:first-child{
                flex-basis: 40%;
            }
            &:nth-child(4){
                border-bottom: none;
            }
            .nav-link{
                display: block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                color: var(--white-100);
                font-size: calc( var(--fs-subtitle)/1.2 );
                padding-inline: var(--fs-small);
                padding-block: calc( var(--fs-small) );
            }
            // .avatar{
            //     width: 90px;
            //     height: 106px;
            //     background-color: #fff;
            // }
        }
    }
    .nav-list.list-opened{
        transform: translateX(30%);
        transition: transform ease-in-out;

        animation-name: animateListOpen;
        animation-duration: 250ms;
        animation-timing-function: ease-in-out;
        

        .nav-item{
            animation-name: animateIn;
            animation-duration: 300ms;
            animation-delay: calc(var(--animation-order) * 100ms);
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
        .avatar{
            width: 90px;
            height: 106px;
            background-image: url(../images/nav/shahar_90X106.png);
            background-repeat: no-repeat;
            background-position-y: 60%;
        }
        .icons{
            width: 100%;
            max-width: 200px;
            height: 120px;
            max-height: 120px;
            justify-content: center !important;

            svg{
                fill: var(--white-100);
                display: block;
                width: 100%;
                max-width: 20px;
                aspect-ratio: 1 !important;
            }
        }
    }

    // header{
    //     flex-direction: row-reverse;
    //     justify-content: space-between;

    //     .nav{
    //         flex: 0 0 0%;
            
    //     }
    //     // .brand{
    //     //     height: 150px;
 
    //     // }
    // }

  
}




/**** Animations ****/
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  
  100% {
    opacity: 1;
  }
}


@keyframes animateListClose {
  0% {
    opacity: 1;
    transform: translateX(30%);
    
}

100% {
    opacity: 0;
    transform: translateX(100%);
    
  }
}


@keyframes animateListOpen {
  0% {
    opacity: 0;
    transform: translateX(100%);
    
}

100% {
    opacity: 1;
    transform: translateX(30%);
    
  }
}