
section{
    margin-block: 1.3rem;
}
.quote{
    @include section-mobile;
    background-color: rgba(0, 0, 0, 0) !important;
}
blockquote{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    position: relative;
    width: fit-content;
    
    p{
        //color: var(--orange-50);
        color: rgba(255 255 255 / .4);
        //font-size: 1rem;
        text-align: center;
        font-weight: 300;
    }
}

cite{
    margin-block-start: 1rem;
    font-size: 1rem;
    color: var(--orange-100);
    font-weight: 300;
    font-style: italic;
    text-align: center;
    display: block;
    span{
        color: var(--blue-100);
    }

}

@media (min-width: 871px){
    .quote{
        @include section-desktop;
        background-color: rgba(0, 0, 0, 0) !important;
    }
    
}
