.sitebg-video{
    grid-column: 1 / -1;
    grid-row: 1 / span 2 ;
    width: 100%;
    max-width: inherit;
    justify-self: center;

    display: grid;
    place-content: start;
    
    

    -webkit-mask-image: url(../images/home/brshStroke1.png);
    mask-image: url(../images/home/brshStroke1.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: top center;
    mask-position: top center;

    z-index: -1;

    .sitebg-vid{
        height: inherit;
        width: 100vw;
        max-width: inherit;
        min-height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        
        filter: contrast(110%) grayscale(70%) opacity(55%);
        //filter: contrast(110%) grayscale(10%);
    }
}

@media (max-width: 960px){
    .sitebg-video{
        min-width: 100vw;
        -webkit-mask-size: cover;
        mask-size: cover;

    }
    .sitebg-vid{
        position: absolute;
    }

}

@media (max-width: 480px){
    .sitebg-video{
        -webkit-mask-image: none;
        mask-image:none;
    }

    .sitebg-vid{
        filter: contrast(110%) grayscale(10%) !important;
        -webkit-mask-image: linear-gradient(transparent, black, transparent);
        mask-image: linear-gradient(transparent, black,transparent);
    }

}