.sitebg-video{
    margin-block-start: 5rem;
    grid-column: 1 / -1;
    grid-row: 1 / 3 ;
    
    max-width: inherit;

    -webkit-mask-image: url(../images/home/brshStroke1.png);
    mask-image: url(../images/home/brshStroke1.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: top center;
    mask-position: top center;

    z-index: -2;

    .sitebg-vid{
        height: inherit;
        width: 100vw;
        width: 100svw;
        max-width: inherit;
        min-height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        
        filter: contrast(110%) grayscale(100%) opacity(55%);
    }
}

@media (max-width: 960px){

    .sitebg-video{
        min-width: 100vw;
        -webkit-mask-size: cover;
        mask-size: cover;      

    }
    .sitebg-vid{
        position: absolute;
    }

}

@media (max-width: 480px){
    .sitebg-video{
        -webkit-mask-image: none;
        mask-image:none;
        margin-block-start: -2rem !important;
    }

    .sitebg-vid{
        filter: contrast(110%) grayscale(10%) !important;
        
        -webkit-mask-image: linear-gradient(to top, transparent 15%,black 70%);
        mask-image: linear-gradient(to top, transparent 15%,black 70%);
       
    }

}