
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

.hide{
	display: none;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@mixin section-mobile {
	width: 100%;
    background-color: rgba(0 0 0 / .25);
    border-radius: 8px;
    padding-inline: 1rem;
    padding-block: 1.2rem;
}

@mixin section-title {
    
    color: rgba(255 255 255 / .4);
    text-align: center;
    font-weight: 300;
}

@mixin section-desktop {
	max-width: 1088px;
    background-color: rgba(0 0 0 / .25);
    border-radius: 8px;
    padding-inline: 1rem;
    padding-block: 1.2rem;
    // margin-inline: 1rem;
}

.padding-x{
    padding-inline: 1rem !important;

}
.margin-x{
    margin-inline: 1rem; 
}