:root{
    --clr-orange-100: rgb(211, 82, 60);
    --clr-blue-100: rgb(64, 187, 212);

    --clr-white: rgb(245, 245, 245);
    --clr-gray-light: rgb(186, 186, 186);
    --clr-gray-medium: rgb(161, 161, 161);
    --clr-gray-dark: rgb(20, 20, 20);
    --clr-black: rgb(10, 10, 10);

    --ff-primary: 'Rubik', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --fs-hero: 4.236rem;
    --fs-title: 2.618rem;
    --fs-subtitle:1.618rem;
    // --fs-hero: clamp(1.618rem, 8vw, 4.236rem);
    // --fs-title: clamp(1rem, 4vw, 2.618rem);
    // --fs-subtitle: clamp(0.6rem, 3vw, 1.618rem);
    --fs-regular: 1rem;
    --fs-small: 0.618rem;

    //--gap: 1.618rem;
}


body {
  padding: clamp(0.618rem, 3vw, 1.618rem);
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  color: var(--clr-white);
  background-color: var(--clr-black);
  background-image: url(../images/bg.png);
  overflow-x: hidden;
  min-width: 320px !important;
}


// @import 'utilities';
// @import 'home';
@import 'grid';
@import 'home-v3';












// mixed blend modes
.normal {mix-blend-mode: normal;}
.multiply {mix-blend-mode: multiply;}
.screen {mix-blend-mode: screen;}
.overlay {mix-blend-mode: overlay;}
.darken {mix-blend-mode: darken;}
.lighten {mix-blend-mode: lighten;}
.color-dodge {mix-blend-mode: color-dodge;}
.color-burn {mix-blend-mode: color-burn;}
.difference {mix-blend-mode: difference;}
.exclusion {mix-blend-mode: exclusion;}
.hue {mix-blend-mode: hue;}
.saturation {mix-blend-mode: saturation;}
.color {mix-blend-mode: color;}
.luminosity {mix-blend-mode: luminosity;}