:root{
    --orange-100: hsl(9 58% 48% / 1);
    --orange-75: hsl(9 58% 48% / .75);
    --orange-50: hsl(9 58% 48% / .5);
    --orange-25: hsl(9 58% 48% / .25);
    --orange-0: hsl(9 58% 48% / 0);

    --blue-100: hsl(190 56% 43% / 1);
    --blue-75: hsl(190 56% 43% / .75);
    --blue-50: hsl(190 56% 43% / .5);
    --blue-25: hsl(190 56% 43% / .25);
    --blue-0: hsl(190 56% 43% / 0);

    --white-100: hsl(0 0% 100% / 1);
    --white-75: hsl(0 0% 100% / .75);
    --white-50: hsl(0 0% 100% / .5);
    --white-25: hsl(0 0% 100% / .25);
    --white-15: hsl(0 0% 100% / .15);
    --white-10: hsl(0 0% 100% / .1);
    --white-0: hsl(0 0% 100% / 0);

    --black-100: hsl(0 0% 0% / 1);
    --black-90: hsl(0 0% 0% / .9);
    --black-75: hsl(0 0% 0% / .75);
    --black-50: hsl(0 0% 0% / .5);
    --black-25: hsl(0 0% 0% / .25);
    --black-10: hsl(0 0% 0% / .1);
    --black-0: hsl(0 0% 0% / 0);
    --bg-dark: #191919;

    --ff-primary: 'Rubik', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --fs-subtitle:clamp(1.2rem, 1.895168374816984vw, 1.618rem);
    --fs-regular: 1.3rem;
    --fs-text: 1rem;
    --fs-small: 0.8rem;
    --fs--link: 1.2rem;
    
    //font-size: calc(100vw / 80);

    //--gap: 1.618rem;

    --padding: clamp(1.618rem, 3vw, 2.618rem);
}

body, html{
  height: 100%;
}


body {
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  color: var(--clr-white);
  background-image: url(../images/pattern/pattern.png);  
  overflow-x: hidden;
  max-width: 1088px;
  min-width: 300px;
  margin: 0 auto;
  
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  
  padding-inline: 1rem;
  padding-block-start: 2rem;
  height: fit-content;
}



footer{
  //background-color: rgba(191, 143, 151, 0.192);
  margin-top: 3rem;
  h2 ,p{
    color: transparent;
  }
}



@import 'utilities';
@import 'header';
@import 'nav';
// @import 'main';
@import 'home';
@import 'quote';
@import 'about';
@import 'gallery';
@import 'contact';













// mixed blend modes
.normal {mix-blend-mode: normal;}
.multiply {mix-blend-mode: multiply;}
.screen {mix-blend-mode: screen;}
.overlay {mix-blend-mode: overlay;}
.darken {mix-blend-mode: darken;}
.lighten {mix-blend-mode: lighten;}
.color-dodge {mix-blend-mode: color-dodge;}
.color-burn {mix-blend-mode: color-burn;}
.difference {mix-blend-mode: difference;}
.exclusion {mix-blend-mode: exclusion;}
.hue {mix-blend-mode: hue;}
.saturation {mix-blend-mode: saturation;}
.color {mix-blend-mode: color;}
.luminosity {mix-blend-mode: luminosity;}


