:root{
    --clr-orange-100: hsl(9, 63%, 53%);
    --clr-blue-100: hsl(190, 63%, 54%);

    --clr-white: hsl(0, 0%, 96%);
    --clr-gray-light: hsla(0, 0%, 73%, 0.733);
    --clr-gray-dark: hsl(0, 0%, 8%);
    --clr-black: hsl(0, 0%, 4%);

    --ff-primary: 'Rubik', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --fs-hero: 4.236rem;
    --fs-title: 2.618rem;
    --fs-subtitle: 1.618rem;
    --fs-regular: 1rem;
    --fs-small: 0.618rem;
}

// @media(min-width: 50em){
//   body{
//     background-color: #fff !important;
//     background-image: none !important;
//   }
// }



body {
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  color: var(--clr-white);
  background-color: var(--clr-black);
  background-image: url(./images/bg.png);
  
}



// h2 {
//   font-size: 2.618rem;
//   font-size: var(--fs--title);
// }

// h3 {
//   font-size: var(--fs--subtitle);
// }

// small, .text_small {
//   font-size: var(--fs--small);
// }



// Home section
.home-wrapper{
  //outline: 1px solid yellow;
  max-width: 1140px;
  margin: 0 auto;
}

.home-header{
  padding-top: 1.618rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  h1 {
    letter-spacing: -5.618px;
    font-size: var(--fs-hero);
    font-weight: var(--fw-light);
    color: var(--clr-orange-100);
    line-height: .8;
    // border: 1px solid yellow;
    max-width: 438px;
    span.white{
      color: var(--clr-gray-light);
      font-size: var(--fs-title);
      letter-spacing: -1.618px;
    }
    .line-2{
      margin-right: 65px;
    }
    .line-3{
      margin-right: 195px;
      margin-top: -2.4rem;
    }
    .line-4{
      margin-right: 195px;
    }
  }
  
  .hero-box{
    display: flex;
    flex-direction: column;
  }
  
  
  nav{
    //outline: 1px solid yellow;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-left: 6.618rem;
    
    a:link, a:visited{
      color: var(--clr-blue-100);
      text-decoration: none;
      padding: .5rem;
    }
    
    .vl {
      background-color: var(--clr-blue-100);
      height: 16px;
      width: 1px;
      margin: .5rem;
    }
  }
  
}

.home-main{
  display: flex;
  align-items: start;
  justify-content: space-between;

  .home-main-content{
    flex-basis: 50%;
    align-self: center;
    //outline: 1px solid magenta;
    display: flex;
    flex-direction: column;

    p{
      font-size: var(--fs-subtitle);
      color: var(--clr-gray-light);
      padding-bottom: 1.618rem;
    }

    nav{
      //outline: 1px solid rgb(111, 0, 255);
      align-self: center;
      width: 50%;
      

      ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 7.618px;
        transform: skew(-16.618deg, 0deg);
        
        li{
            width: 200px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            padding: 0 1.618rem;
            background-color: var(--clr-gray-dark);
            cursor: pointer;
            position: relative;
            transition:.15s ease-in-out;
  
            a:link, a:visited{
              color: var(--clr-blue-100);
              font-size: var(--fs-subtitle);
              text-decoration: none;
              display: block;
              transition:.35s ease-in;
            }
            a:hover{
               color: var(--clr-white);
            }
        }
        li::before{
          content: '';
          position: absolute;
          width: 1.618%;
          height: 100%;
          right: -10.618px;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: var(--clr-orange-100);
          transition: all 0.25s ease-in-out;
          z-index: -1;
        }
        li:hover::before{
          right: 206.618px;
          width: 61.618%;
          z-index: -1;
        }
       
      }
    }
    
  }

  .home-main-image{
    flex-basis: 50%;
    height: 500px;
    //outline: 1px solid magenta;
    background-image: url(./images/home_hero.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -5rem;
    max-width: 516px;
    max-height: 535px;
    
    }

}












// mixed blend modes
.normal {mix-blend-mode: normal;}
.multiply {mix-blend-mode: multiply;}
.screen {mix-blend-mode: screen;}
.overlay {mix-blend-mode: overlay;}
.darken {mix-blend-mode: darken;}
.lighten {mix-blend-mode: lighten;}
.color-dodge {mix-blend-mode: color-dodge;}
.color-burn {mix-blend-mode: color-burn;}
.difference {mix-blend-mode: difference;}
.exclusion {mix-blend-mode: exclusion;}
.hue {mix-blend-mode: hue;}
.saturation {mix-blend-mode: saturation;}
.color {mix-blend-mode: color;}
.luminosity {mix-blend-mode: luminosity;}