// Home section
.home-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.home-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .slogan-box{
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        letter-spacing: -5.618px;
        font-size: var(--fs-hero);
        font-weight: var(--fw-light);
        color: var(--clr-orange-100);
        line-height: .8;
        max-width: 438px;
        
        span.white{
            color: var(--clr-gray-light);
            font-size: var(--fs-title);
            letter-spacing: -1.618px;
        }
        .line-2{
            margin-right: 65px;
        }
        .line-3{
            margin-right: 195px;
            margin-top: -2.4rem;
        }
        .line-4{
            align-self: flex-end;
            color: var(--clr-blue-100);
            margin-top: -53px;
            margin-left: -5px;
        }
        .line-5{
            align-self: flex-end;
            margin-left: -120px; 
            letter-spacing: -.618px !important;
        }
    }

  nav{
    //flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    
    a:link, a:visited{
      //outline: 1px solid yellow;
      color: var(--clr-blue-100);
      text-decoration: none;
      padding: 0 .5rem;
    }
    
    .vl {
      background-color: var(--clr-orange-100);
      opacity: .5;
      align-self: center;
      height: 1rem;
      width: 2px;
      margin: 0 .5rem;
    }
  }
  

}

.home-main{
  display: flex;

  .home-main-content{
    flex-basis: 50%;
    margin-top: 5.236rem;
    display: flex;
    flex-direction: column;
    //padding-right: 3rem;
    margin-right: 65px;
    //place-items: flex-end;

    p{
      font-size: var(--fs-subtitle);
      color: var(--clr-gray-light);
      padding-bottom: 2.618rem;
      font-weight: 300;
    }

    nav{
      padding-right: 45px;

      ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: .36rem;
        transform: skew(-16.618deg, 0deg);
        
        li{
            width: 200px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            padding: 0 1.618rem;
            background-color: var(--clr-gray-dark);
            cursor: pointer;
            position: relative;
            transition:.15s ease-in-out;
  
            a:link, a:visited{
              color: var(--clr-blue-100);
              font-size: var(--fs-subtitle);
              text-decoration: none;
              display: block;
              transition:.35s ease-in;
            }
            a:hover{
               color: var(--clr-white);
            }
        }
        li::before{
          content: '';
          position: absolute;
          width: 1.618%;
          height: 100%;
          right: -10.618px;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: var(--clr-orange-100);
          transition: all 0.25s ease-in-out;
          z-index: -1;
        }
        li:hover::before{
          right: 206.618px;
          width: 101.618%;
          z-index: -1;
        }
      }
    }
    
  }

  .home-main-image{
    flex-basis: 50%;
    height: 500px;
    background-image: url(../images/home_hero.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -5rem;
    max-width: 516px;
    max-height: 535px;
    //z-index: -1;  
    }

}


// 970px
@media(max-width: 60.625em){

    .home-header{

        h1 {
            font-size: calc( var(--fs-hero)*.9 ) !important;
            
            span.white{
                font-size: calc( var(--fs-title)*.9 ) !important;
            }
            
            .line-2{
                margin-right: 57px !important;
            }
            
            .line-3{
                margin-right: 175px !important;
                margin-top: -35px !important;
            }
            
            .line-4{
                margin-top: -48px !important;
                margin-left: 42px !important;
            }
            
            .line-5{
                margin-left: 45px !important; 
            }
        }

        nav{
            flex-direction: column;
        }


    }

    .home-main-image {
        margin-top: -6.618rem !important; 
    }
    .home-main-content{
        margin-top: 1.236rem !important;
        p{
            font-size: calc( var(--fs-subtitle)*.8 ) !important;
            padding-bottom: 1.618rem !important;
        }
    }


}
